body {
  padding: 0;
  text-align: center;
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 30px;
  font-family: "Verdana";
  color: white
}

.logo-img {
  width: 400px;
}

.arrows-img {
  width: 250px;
}

body button {
  font-size: 30px;
  background-color: #d5000b;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
    position: relative;
}

#DRS {
  display: flex;
  border: solid;
  border-radius: 5px;
  border-color: rgb(230, 0, 0);
}

#DRSbarcomplete{
  width: 100%;
  height: 30px;
  
}

#DRSbar{
  background-color: red;
  width: 0%;
  height: 30px; 
}

body {
  background-image: url("../images/backgroundImg.jpg");
}

#menu-board {
  width: 700px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.377);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
  
}

#menu-about{
  width: 700px;
  height: 450px;
  padding: 10px 30px 10px 30px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 34px;
  font-weight: bold;
}

#closeAbout{
  transform: translateX(600%) ;
}

#about-button{
  font-size: 30px;
}

#text-about{
  font-size: 20px;
  font-family: "Verdana";
}

.hidden {
  visibility: hidden;
}

.imageIcon{
  width: 50px;
  
}


